@page
@model CourseApp.WebCore.Pages.Course.DeleteModel
@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<p>Are you sure you want to delete the course?</p>
<form method="post">
    <input asp-for="CourseId" type="hidden" />
    <div class="form-group">
        <input type="submit" value="Confirm" class="btn btn-primary" />
        <a asp-page="/CourseIndex" class="btn btn-default">Cancel</a>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
