<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="oracleDbConnection" type="CourseApp.Web.ConfigurationSections.OracleDbConnectionConfiguration" />
  </configSections>
  <oracleDbConnection user="SYS"
                      password="Password12"
                      host="52.164.202.80"
                      port="1521"
                      asSysDba="true"
                      sid="course_app_db"
                      serviceName="course_app_db"
                      serviceInstance="course_app_db" />
  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath="dotnet" arguments=".\bin\Debug\netcoreapp2.0\CourseApp.WebCore.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" />
  </system.webServer>
</configuration>